<!-- successメッセージ -->
<% if flash[:notice] %>
    <div class="flash">
       <%= flash[:notice] %>
    </div>
<% end %>
<!-- ここまで -->

<div class="container"><!-- 全体 -->
<div class="user_info row">
<div class="col-lg-12">
                   <h3 class="User info"></h3>
</div></div>
<div class="user_info row">
<div class="col-lg-12">
<%= attachment_image_tag @user, :profile_image
  , :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>


  <% if @user.id == current_user.id %>
    <p><%= link_to "ボタンの中にイラストを入れたい", edit_user_path(@user), class: 'glyphicon glyphicon-home' aria-hidden="true" %></p>
  <% else %>
    <p><%= link_to "ボタンの中にイラストを入れたい", user_path(@user), class: 'glyphicon glyphicon-home' aria-hidden="true" %></p>
  <% end %>

</div></div>
<div class="user_info row">
<div class="col-lg-8">
                   <h5>name</h5>
</div>
<div class="col-lg-4">
                   <p></p>
</div></div>
<div class="user_info row">
<div class="col-lg-8">
                   <h5>introduction</h5>
</div>
<div class="col-lg-4">
                   <p></p>
</div></div>



<!-- form_for部分 -->
<%= form_for(@book, url: books_path) do |f| %>

  <% if @book.errors.any? %>
    <div id="error_explanation">
    <h2><%= @book.errors.count %>errors prohibited this obj from being saved:</h2>
    <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="col-sm-12">
                        <h2>New book</h2>
  </div></div>
  <div class="row">
  <div class="col-sm-12">
                        <h4>Title</h4>
  </div></div>
  <div class="row">
  <div class="col-sm-12">
                        <%= f.text_field :title %>
  </div></div>
  <div class="row">
  <div class="col-sm-12">
                        <h4>Body</h4>
  </div></div>
  <div class="row">
  <div class="col-sm-12">
                        <%= f.text_area :body %>
  </div></div>
  <div class="row">
  <div class="col-sm-12">
                        <%= f.submit 'Create Book', class: "btn-primary btn-lg" %>　<!-- rouresでbook_pathへリダイレクトしたい -->
                        <!-- meshiterroのボタン、参考に class:"btn btn-lg btn-block btn-base-1 mt-20" %>　-->
  </div></div>

<% end %>
<!-- formforここまで -->
</div>
</div>

